.project-item-container {
  width: 100px;
  border-radius: 12px;
  display: flex;
  margin: 15px;
}

.project-item-image {
  width: 100%;
  border: none;
  border-radius: 5px;
}

.button {
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: none;
}
